<div class="modal-header">
  <h4 class="modal-title">{{data.questions}}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div *ngFor="let item of data.options" class="form-check">
    <input
			(change)="onSelectAns($event)"
      class="form-check-input"
      type="radio"
      name="exampleRadios"
      id="exampleRadios1"
      [value]="item.ans"
    />
    <label class="form-check-label" for="exampleRadios1">{{item.text}}</label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" (click)="close()" class="btn btn-outline-dark">Close</button>
	<button type="button" (click)="submit()" class="btn btn-outline-dark">Submit</button>
</div>
